.pic{
    height: 300px;
    width: 500px;
   
}

.box{
    border: 1px solid rgb(184, 178, 178);
    box-shadow: 2px 2px 2px rgba(180, 179, 179, 0.35);
    border-radius: 10px;
    padding: 20px;
    margin-top: 70px;
    font-family:'Kalam', cursive;
   
}

hr{
    color:rgb(39, 39, 39) ;
    
}